<!DOCTYPE html>
<html>

<head>
    <title>Notecard-Maker-<%=pageTitle%></title>
    <%include partials/head.ejs%>
</head>

<body>
	<header>
    <% include partials/header.ejs%>
	</header>
	<div class="container">
		<div class ="row">
        <div class="col-sm-8" id="info" value ="">
					<%- info %>
				</div>
		</div>
	</div>
</body>
</html>
