<!DOCTYPE html>
<html>

<head>
    <title>Notecard-maker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <div class="jumbotron hidden-xs">
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <h1 style="color: white">Notecard-Maker</h1>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="maincontent">
                    <article class="article">
                        <h1 class="article-title">Create notecard to help you study!</h1>
                        <p>Upload a text document with your notes and study away!</p>
                    </article>
                    <article class="rules">
                        <h2>RULES</h2>
                        <div>
                          <h3>Exclamation mark</h3>
                          <textarea rows="10" cols ="60">
                            The exclamation mark can be used to store metadata about the notes but will not be part of the note. This part is not required in the notes but if used must be written before the real note to be parsed.
                            For example:
                            !DATE: Jan 1 1970
                            !CLASS: SE 319
                            This stores the date and class and metadata describing the note to be parsed.

                          </textarea>
                          <h3>Pound sign</h3>
                          <textarea rows="10" cols ="60">
                            The pound sign is used to specify headers and subheaders. A main header can be specified by one pound sign and subsequent headers can be specified by increasing the number of pound signs accordingly.
                            For example:
                            #Programming Languages
                            ##JavaScript
                            This parses ‘Programming Languages’ as a header and ‘JavaScript’ as a sub-header.

                          </textarea>
                          <h3>Dollar sign</h3>
                          <textarea rows="10" cols ="60">
                            The dollar sign is used to specify specific topics. It is not required but can be used to make more detailed notes which leads to more detailed note-cards.
                            For example:
                            $ECMAScript
                            EcmaScript is popularly known as JavaScript.
                            This parses ECMAScript as the topic for the sentence below it and other subsequent sentences till the next topic, header or end of note.



                          </textarea>
                          <h3>asterisk </h3>
                          <textarea rows="10" cols ="60">
                            The asterisk is used to specify importance. It can be used in two different contexts (both specifying importance). The two ways are to mark a word as important and to mark a phrase as important. When two asterisks wrap a phrase, the phrase is marked as important. When a single asterisk is placed before a word, the word is marked as important. The single asterisk style cannot be used multiple times on the same line except it is the last occurrence on that line.
                            For example:
                            JavaScript is a core aspect of *web development*.
                            It makes *server side coding less complex.
                            In the first example, web development is marked as an important phrase. In the second example, server is marked as an important word.


                          </textarea>
                          <h3>Colon, hyphen, comma</h3>
                          <textarea rows="10" cols ="60">
                            The colon can be used in conjunction with the hyphen or comma to specify lists. When the colon is used with commas, the list is parsed as words after the colon which use a comma delimiter and ends on a new line (if a period is present at the end of the line, it’ll be ignored). When the colon is used with hyphens, the colon must appear as the last character on a line before the new line, and the lines after it must start with a either, a hyphen and a space followed by the content of the list, or a number and a space followed the content of the list.
                             For example:
                            A few data types in JavaScript include: number, string, object.
                            Some languages used in web development are:
                            JavaScript
                            CSS
                            HTML
                            The most popular client side javascript frameworks include:
                            React.js
                            Vue.js
                            Angular.js 2
                            In the first example, number, string and object are parsed as a list that pairs with ‘data types in JavaScript’. In the second example, The JavaScript, CSS and HTML are parsed as a list that associate with ‘languages used in web development’. In the last example, The list is parsed just like with hyphens but the numbers are preserved.


                          </textarea>
                          <h3>Parentheses </h3>
                          <textarea rows="10" cols ="60">
                            Parentheses are used to specify associations (like definitions). A pair of parentheses followed by a word associates the word with the content within the parentheses. It can be used to associate words with their definitions while taking notes. It can also be used with asterisks to associate a the content within the parentheses with a phrase instead of just a word.
                             For example:
                            Node.js is used asynchronously(an action is performed based on a signal from another action).
                            JavaScript is a *programming language*(a language used to program a computer).
                            In the first example, ‘asynchronously’ is parsed as an association with the phrase in the parentheses. In the second example, ‘programming language’ is parsed as an association with the content within the parentheses.

                          </textarea>
                        </div>

                    </article>
                </div>
            </div>
            <aside class="col-sm-4">
                <form action="upload" method="post" enctype="multipart/form-data">
                    Select file to upload:
                    <input type="file" name="noteFile" id="fileToUpload" />
                    <input type="submit" id="go_notes" value="Go" onclick="" />
                </form>

            </aside>
        </div>
    </div>
</body>

</html>
