<!DOCTYPE html>
<html>

<head>
    <title>Notecard-Maker </title>
    <% include partials/head.ejs %>
</head>
<body>
    <header>
        <% include partials/header.ejs %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="maincontent">
                    <article class="article">
                        <h1 class="article-title">Create notecard to help you study!</h1>
                        <p>Upload a text document with your notes and study away!</p>
                    </article>
                </div>
                <form method="post" action="upload_textArea">
                  <textarea id="textArea" rows="4" cols="60" name="noteText"></textarea>
                  <input type="submit" id="go_notes_txtArea" value="Go" onclick="" />
              </form>
            </div>
            <aside class="col-sm-4">
                <form action="upload" method="post" enctype="multipart/form-data">
                    Select file to upload:
                    <input type="file" name="noteFile" id="fileToUpload" />
                    <input type="submit" id="go_notes" value="Go" onclick="" />
                </form>

            </aside>
        </div>
    </div>
</body>

</html>

<script>
let go_button = document.getElementById('go_notes_txtArea');
go_button.onclick = function(){
  let text = document.getElementById('textArea');
  if(textArea.value.trim()){
    console.log(textArea.value.trim());

  } else {
    console.log("no content");
  }
};
</script>
