<!DOCTYPE html>
<html>

<head>
    <title>Notecard-Maker-<%=pageTitle%></title>
    <%include partials/head.ejs%>
</head>

<body>
	<header>
			<% include partials/header.ejs %>
	</header>
	<div class="container">
		<div class ="row">
        <div class="col-sm-8" >
					<form method="POST" action="login">
						<div class="form-group">
							<label for="username">Username: </label>
							<input type="username" class="form-control" id="usr" name="username">
							<label for="pwd">Password: </label>
							<input type="password" class="form-control" id="pwd" name="password">
						</div>
						<div class="errors">
					    <%=errors%>
					  </div>
						<input type="submit" class="btn btn-primary" id="login"></input>
					</form>
				</div>
		</div>
	</div>
</body>
</html>
