<!DOCTYPE html>
<html>

<head>
    <title>Notecard-Maker -  </title>
    <%include partials/head.ejs%>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>

<body>
  <header>
    <% include partials/header.ejs %>

  </header>
    <div id="notecards">
      <input type="button"  class="btn btn-info" value="NEXT" id="nextQ" onclick=""></input>
      <input type="button" class="btn btn-info" value="FLIP NOTE CARD" id="seeAnswer" onclick=""></input>
      <br/>
        <h1 id="sub"><h1>
        <h3 id="side"></h3>
        <article id="question">
          Click next to start viewing notecards
        </article>
    </div>
    <!-- <input type="button" value="BACK" id="back" onclick=""> -->
    <%include partials/foot.ejs%>
    <!-- <script src="./js/main.js"></script> -->
</body>

<script>window.onload=function(){

let note = document.getElementById('notecards');
var notes;

  var rand_num; //Question number

  let next = document.getElementById('nextQ');

          notes = JSON.parse(sessionStorage.getItem('notes_array'));
          console.log(typeof(notes));
          console.log(notes);
          // if(notes.length===0){ //TODO make something happen is there's no notes
          //   console.log("NO NOTES");
          //   break;
          // }
          next.onclick = () => {
            let next_num;
            do{
               next_num = Math.floor((Math.random() * notes.length));
            } while (rand_num == next_num);
            rand_num = next_num;
            document.getElementById('question').className = "que";
            document.getElementById('question').innerHTML = notes[rand_num][0].substring(0,notes[rand_num][0].length-2);
            document.getElementById('side').innerHTML = "Title";
          };
          document.getElementById('seeAnswer').onclick = () => {
            let card_flip;
            if(notes[rand_num][1] === document.getElementById('question').innerHTML){
              document.getElementById('question').className = "que";
              card_flip = notes[rand_num][0].substring(0,notes[rand_num][0].length-2);
              document.getElementById('side').innerHTML="Title";
            }
            else{
              document.getElementById('question').className = "sol";
              card_flip=notes[rand_num][1];
              document.getElementById('side').innerHTML="Description";
            }

            if (typeof card_flip === "object"){
              let temp = card_flip;
              card_flip = document.createElement('ol');
              for (let item of temp){
                let li = document.createElement('li');
                li.appendChild(document.createTextNode(item));
                card_flip.appendChild(li);
              }
              document.getElementById('question').appendChild(card_flip);
            }else{
              document.getElementById('question').innerHTML = card_flip;
            }
        }
}
</script>


</html>
