<!DOCTYPE html>
<html>

<head>
    <title>Notecard-Maker-<%=pageTitle%></title>
    <%include partials/head.ejs%>
    <link rel="stylesheet" href="/css/form.css" type="text/css">
</head>

<body>
	<header>
			<% include partials/header.ejs %>
	</header>
	<div class="container">
	  <% if (errors) { %>
      <div class="errors">
	      <%=errors%>
	    </div>
    <% } %>
		<div class ="row top-buffer">
        <div class="col-md-offset-3 col-sm-8 col-md-6" >
          <p class="h2">Create a notecard account</p>
					<form method="POST" action="/signup/">
						<div class="form-group">
						  <label for="firstname">First Name: </label>
							<input type="username" class="form-control" id="usr" name="first_name">
							<label for="username">Last Name: </label>
							<input type="username" class="form-control" id="usr" name="last_name">
							<label for="username">Username: </label>
							<input type="username" class="form-control" id="usr" name="username">
							<label for="email">Email Address: </label>
							<input type="email" class="form-control" id="email" name="email">
							<label for="pwd">Password: </label>
							<input type="password" class="form-control" id="pwd" name="password">
							<label for="pwd">Repeat Password: </label>
							<input type="password" class="form-control" id="pwd2" name="rpassword">
						</div>
						<input type="submit" class="btn btn-primary" id="signup"></input>
					</form>
					<small class="form-text text-muted">Already have an account? <a href="/login">Login!</a></small>
				</div>
		</div>
	</div>
</body>
</html>
